<div class="container margin-t-15 margin-b-15">
  <div class="margin-b-15">
    <h4 class="text-center">陕西省物流学会会员查询</h4>
  </div>
  <div class="card" id="app">
    <div class="form-group">
      <label class="radio-inline">
        <input type="radio" name="member-type" value="C" v-model="memberType" @click="onMemberType('C')"> 单位会员
      </label>
      <label class="radio-inline">
        <input type="radio" name="member-type" value="P" v-model="memberType" @click="onMemberType('P')"> 个人会员
      </label>
    </div>
    <div class="form-group">
      <input type="search"
             class="form-control"
             maxlength="100"
             v-model="searchContent"
             @keyup.13="onSearch"
             :placeholder="memberType == 'C'? '请输入营业执照编号' : '请输入手机号码'">
    </div>
    <div v-cloak class="alert alert-warning" role="alert" v-if="isShowAlert == true">
      未查询到符合条件的会员申请信息！
    </div>
    <div v-cloak class="company-member" v-if="memberType == 'C' && isShowDetail">
      <div class="form-group">
        <span>单位名称：</span>
        <span v-text="companyInfo.company_name"></span>
      </div>
      <div class="form-group">
        <span>单位性质：</span>
        <span v-text="companyInfo.company_type_text"></span>
      </div>
      <div class="form-group">
        <span>营业执照编号：</span>
        <span v-text="companyInfo.business_license_number"></span>
      </div>
      <div class="form-group">
        <span>联系人：</span>
        <span v-text="companyInfo.contacts_name"></span>
      </div>
      <div class="form-group">
        <span>手机号码：</span>
        <span v-text="companyInfo.contacts_cellphone"></span>
      </div>
      <div class="form-group">
        <span>审批结果：</span>
        <span class="label"
              :class="{'label-info':companyInfo.data_status == 'P', 'label-success':companyInfo.data_status == 'Y', 'label-warning':companyInfo.data_status == 'N'}"
              v-text="companyInfo.data_status_text"></span>
      </div>
<!--      <div class="form-group">-->
<!--        <a href="#">证书下载</a>-->
<!--      </div>-->
    </div>
    <div v-cloak class="personal-member" v-if="memberType == 'P' && isShowDetail">
      <div class="form-group">
        <span>姓名：</span>
        <span v-text="personalInfo.full_name"></span>
      </div>
      <div class="form-group">
        <span>性别：</span>
        <span v-text="personalInfo.sex_text"></span>
      </div>
      <div class="form-group">
        <span>文化程度：</span>
        <span v-text="personalInfo.education_level_text"></span>
      </div>
      <div class="form-group">
        <span>手机号码：</span>
        <span v-text="personalInfo.cellphone"></span>
      </div>
      <div class="form-group">
        <span>审批结果：</span>
        <span class="label"
              :class="{'label-info':personalInfo.data_status == 'P', 'label-success':personalInfo.data_status == 'Y', 'label-warning':personalInfo.data_status == 'N'}"
              v-text="personalInfo.data_status_text"></span>
      </div>
<!--      <div class="form-group">-->
<!--        <a href="#">证书下载</a>-->
<!--      </div>-->
    </div>
  </div>
</div>

<script src="/javascripts/view/applyProgress.js"></script>
