<link rel='stylesheet' href='/stylesheets/cms.css'/>
<link rel='stylesheet' href='/stylesheets/dropdown.css'/>
<div class="container" id="app">
  <h3 class="text-center">陕西物流学会会员列表</h3>
  <div class="row margin-t-15">
    <div class="col-xs-12">
      <div class="filter-dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span v-text="memberTypeText"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="javascript:" @click="onMemberTypeChange('A', '全部会员')">全部会员</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="javascript:" @click="onMemberTypeChange('C', '企业会员')">企业会员</a></li>
          <li><a href="javascript:" @click="onMemberTypeChange('P', '个人会员')">个人会员</a></li>
        </ul>
      </div>
      <div class="filter-dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span v-text="statusText"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="javascript:" @click="onStatusChange('A', '全部状态')">全部状态</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="javascript:" @click="onStatusChange('P', '待审批')">待审批</a></li>
          <li><a href="javascript:" @click="onStatusChange('Y', '审批通过')">审批通过</a></li>
          <li><a href="javascript:" @click="onStatusChange('N', '审批未通过')">审批未通过</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!--        <input type="search"-->
  <!--               class="form-control"-->
  <!--               v-model="searchContent"-->
  <!--               @keyup.13="onSearch"-->
  <!--               :disabled="memberType == 'A'"-->
  <!--               :placeholder="placeholder">-->

  <div class="apply-list margin-t-15" v-if="dataList.length > 0">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>名称</th>
        <th>类型</th>
        <th>申请时间</th>
        <th>证书</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="data in dataList">
        <td>
          <span v-if="data.member_type == 'C'">企业会员</span>
          <span v-if="data.member_type == 'P'">个人会员</span>
        </td>
        <td v-text="data.member_name"></td>
        <td v-text="data.create_time"></td>
        <td>
          <a href="javascript:" v-if="data.member_type == 'C' && data.certificate_number != '0'" v-text="'SSL-DW-'+data.certificate_number.toString().padStart(4, '0')"></a>
          <a href="javascript:" v-if="data.member_type == 'P' && data.certificate_number != '0'" v-text="'SSL-GR-'+data.certificate_number.toString().padStart(4, '0')"></a>
        </td>
        <td>
            <span class="label"
                  :class="{'label-info':data.data_status == 'P', 'label-success':data.data_status == 'Y', 'label-warning':data.data_status == 'N'}"
                  v-text="data.data_status_text"></span>
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-primary" @click="onShowDetail(data.member_id, data.member_type);">审批</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="row margin-b-15">
      <div class="col-xs-12 text-center">
        <a href="javascript:" @click="onLoadMore()" v-if="isShowLoadMore == true">加载更多</a>
        <span v-if="isShowLoadMore == false">已加载完成所有数据</span>
      </div>
    </div>

  </div>

  <div v-cloak class="alert alert-warning text-center margin-t-15" role="alert" v-if="dataList.length == 0">
    未查询到相关会员申请信息！
  </div>
</div>
<script src="/javascripts/view/applyList.js"></script>