<link rel='stylesheet' href='/stylesheets/index.css'/>
<div class="bg-img">
	<img src="/images/bg2.jpg" class="img-responsive" alt="">
</div>
<div class="text-center padding-t-15">
  <span class="title">陕西省物流学会会员申请</span>
</div>
<div class="text-center padding-t-15">
  <a href="/apply/progress" style="color: #053e6f">
    查看审批进度
  </a>
</div>
<div style="position: absolute; bottom: 1rem; width: 100%; padding: 1rem">
  <div class="row">
    <div class="col-xs-6">
      <a href="/apply/company" class="btn btn-warning btn-block center-block ">企业注册</a>
    </div>
    <div class="col-xs-6">
      <a href="/apply/personal" class="btn btn-info btn-block center-block">个人注册</a>
    </div>
  </div>
</div>
