<link rel='stylesheet' href='/stylesheets/index.css'/>
<div class="center-block pc-center">
  <div class="text-center title">
    <span class="">陕西省物流学会会员申请</span>
  </div>
  <div class="text-center padding-t-15">
    <a href="/apply/progress" style="color: #aa0bea; font-size: 1.5rem">
      查看审批进度
    </a>
  </div>
  <div style="position: absolute; bottom: 1.5rem; width: 100%; padding: 1rem; max-width: 600px">
    <div class="row">
      <div class="col-xs-6">
        <a href="/apply/company" class="btn btn-warning btn-block center-block ">企业注册</a>
      </div>
      <div class="col-xs-6">
        <a href="/apply/personal" class="btn btn-info btn-block center-block">个人注册</a>
      </div>
    </div>
  </div>
</div>

