<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/core/bootstrap-3.3.7/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script src="/javascripts/core/jquery-2.2.0/jquery-2.2.0.min.js"></script>
  <script src="/javascripts/core/bootstrap-3.3.7/bootstrap.min.js"></script>
  <script src="/javascripts/core/vue_v2.6.11/vue.min.js"></script>
  <script src="/javascripts/core/axios/axios.min.js"></script>
  <script src="/javascripts/utility/dataVerify.js"></script>
  <script src="/javascripts/utility/common.js"></script>
  <script src="/plugins/layer/layer.js"></script>
  <script src="/javascripts/utility/messager.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
