<link rel='stylesheet' href='/stylesheets/index.css'/>

<div style="max-width: 500px; margin: 8rem auto 0;">
  <div class="text-center padding-t-15">
    <span class="title">陕西物流学会会员后台管理</span>
  </div>

  <div style="margin-top: 9rem" id="app">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" maxlength="50" v-model="account" placeholder="请输入登录账号">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" maxlength="50" v-model="password" placeholder="请输入登录密码">
      </div>
      <button type="button" class="btn btn-info btn-block" @click="onLogin()">登 录</button>
    </form>
  </div>
</div>


<script src="/javascripts/view/login.js"></script>