.member-type-ch {
  position: absolute;
  left: 50%;
  top:30%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  color: #654102;
  font-weight: bolder;
}
.member-type-en {
  position: absolute;
  left: 50%;
  top:35%;
  transform: translate(-50%,-50%);
  font-size: 1.4rem;
  color: #654102;
  width: 100%;
  text-align: center;
}
.member-name-ch {
  position: absolute;
  left: 50%;
  top:41%;
  transform: translate(-50%,-50%);
  font-size: 2.3rem;
  color: #654102;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}
.member-name-en {
  position: absolute;
  left: 50%;
  top:45%;
  transform: translate(-50%,-50%);
  font-size: 1.5rem;
  color: #654102;
}
.certificate-number {
  position: absolute;
  left: 51.5%;
  top:51.6%;
  transform: translate(-50%,-50%);
  font-size: 1rem;
  color: #71706f;
}
.certificate-img {
  max-width: 600px;
  margin: 0 auto
}
.valid-date {
  position: absolute;
  left: 62%;
  top: 54.5%;
  transform: translate(-50%,-50%);
  font-size: 1rem;
  color: #71706f;
}