.member-type-ch {
  position: absolute;
  left: 50%;
  top:33%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  color: #654102;
  font-weight: bolder;
}
.member-type-en {
  position: absolute;
  left: 50%;
  top:39%;
  transform: translate(-50%,-50%);
  font-size: 1.4rem;
  color: #654102;
  width: 100%;
  text-align: center;
}
.member-name-ch {
  position: absolute;
  left: 50%;
  top:47%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  color: #654102;
  font-weight: bolder;
}
.member-name-en {
  position: absolute;
  left: 50%;
  top:52%;
  transform: translate(-50%,-50%);
  font-size: 1.5rem;
  color: #654102;
}
.certificate-number {
  position: absolute;
  left: 51%;
  top:57.5%;
  transform: translate(-50%,-50%);
  font-size: 1rem;
  color: #71706f;
}
.certificate-img {
  max-width: 600px;
  margin: 0 auto
}
.valid-date {
  position: absolute;
  left: 61%;
  top: 60.7%;
  transform: translate(-50%,-50%);
  font-size: 1rem;
  color: #71706f;
}